<!DOCTYPE html>
<html>
<head>
    <title>Talk-to-Slack</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="/logout" class="logout-button">Log Out</a>
            <h1>Talk to Slack</h1>
            <p class="subtitle">By Rememberizer.ai</p>
            <p>Question: {{ question }}</p>
        </div>    
        <div id="answer" class="markdown"></div>
        <script>
            document.getElementById('answer').innerHTML = marked.parse({{ answer|tojson }});
        </script>
        {% include 'chatbox.html' %}
    </div>
</body>
</html>
