<div class="chat-container">
    <div class="suggested-actions">
        </p><a class="links"  href="https://try.rememberizer.ai/" target='_blank'>How do I get started?</a><br>
        <a class="links" href="/slack-info">Retrieve the details of my Slack workspace</a><br>
        <a class="links"  href="/dashboard">Tell me about my Rememberizer account</a>
    </div>
    <form action="/ask" method="post" class="chatbox">
        <input type="text" name="question" placeholder="Talk to your Slack...">
        <button type="submit">Ask</button>
    </form>
    <div class="footer">Demo app. ChatGPT can make mistakes. Consider checking important information.</div>
</div>
